<div class="center jumbotron">
	<h1>ALPHA BLOG</h1>
	<h3>The good place to keep and share anything you want and more.</h3>

	<%= link_to "Sign up now", "#", class: "btn btn-lg btn-danger btn-xlarge" %>
</div>

