$navbar-default-bg: #16a085;

@import "bootstrap-sprockets";
@import "bootstrap";

.btn-primary {
	background-color: #16a085;
}

.btn-primary:hover {
	background-color: #16a085;
}

#logo {
	float: left;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

.center {
	text-align: center;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.jumbotron {
	padding-top: 100px;
	margin-top: -20px;
	height: 600px;
	background: image-url('cover_page.jpg') center no-repeat;
	background-size: cover;
}

.jumbotron h1, h3, h5 {
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
}

.jumbotron h1 {
	font-weight: bold;
	letter-spacing: -1px;
}

.btn-xlarge {
	font-size: 1.7em;
	background-color: #1abc9c;
}

footer {
	margin-top: 45px;
	padding-top: 25px;
	border-top: 1px solid #16a085;
	color: #777;
}

footer small {
	float: left;
}

footer nav {
	float: right;
}

footer nav ul {
	list-style-type: none;
	padding-bottom: 30px;
}

footer nav ul li {
	float: left;
	margin-left: 30px;
	font-weight: bold;
}

footer a:hover {
	color: #222;
}

// _form.html.erb
.panel-danger {
	margin-top: -15px;
	margin-bottom: 35px;
}

.panel-title {
	font-weight: bold;
}

.panel-body{
	background-color: #F2DEDE;
}

.panel-body ul li {
	color: #A94442;
}


// new.html.erb
.form-title {
	color: #16a085;
	margin-bottom: 50px;
	font-weight: bold;
	letter-spacing: 1px;
}

// show.html.erb
.description {
	margin-top: 0;
}

.article-actions {
	border-top: 1px solid #e3e3e3;
	padding-top: 10px; 
}

// index.html.erb
.article-title {
	font-weight: bold;
	font-size: 1.5em;
}

.article-body {
	border-top: 1px solid #e3e3e3;
	padding: 15px 0;
}
