<div class="container">
  <h1 class="center">Listing All Categories</h1>

  <div class="listing center">
    <%= will_paginate %>
    <% @categories.each do |category| %>
      <div class="row">
        <div class="well col-md-4 col-md-offset-4">
          <div class="article-title">
            <%= link_to category.name, category_path(category) %>
          </div>
          <small>
            <%= pluralize(category.articles.count, "article") %>
          </small>
        </div>
      </div>
    <% end %>
    <%= will_paginate %>
  </div>
</div>
